
@use 'variables';

@mixin contenedor{
    display: flex;
    width: 80%;
    margin: 0 auto;
    font-family: variables.$secondary_font_family;
    font-size: variables.$font_size;
    background-color: variables.$secondary_color;
}

@mixin buton_action{
    padding: 10px 20px;
    background-color: variables.$primary_color;
    color: variables.$secondary_color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@mixin card{
    background-color: variables.$third_color;
    border: 1px solid variables.$primary_color;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(15, 77, 11, 0.88);
}

@mixin interactuar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: variables.$secondary_color;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(15, 77, 11, 0.88);
    margin: 50px;
  
}

@mixin formulario{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(108, 193, 242);

    input{
        padding: 10px;
        margin: 10px 0;
        border: 1px solid variables.$primary_color;
        border-radius: 5px;


    }

}
@mixin boton_enviar{
    padding: 10px 20px;
    background-color: variables.$primary_color;
    color: variables.$secondary_color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}