$primary_color: rgb(18, 74, 139);
$secondary_color: rgb(248, 251, 255);
$third_color: rgb(224, 238, 255);
$primary_font_family: 'Segoe UI', sans-serif;
$secondary_font_family: 'Cambria', serif;
$font_size: 16px;
