$primary_color:rgb(122, 122, 130);
$secondary_color: rgb(255, 255, 255);
$third_color: rgb(18, 227, 196);
$primary_font_family: 'Arial', sans-serif;
$secondary_font_family: 'Times New Roman', serif;
$font_size : 16px;
